<div class="p0 m0 text-center" >
  <p class="card-text">Escanea tarjeta de contacto</p>
  <img id="qr-code" class="card-img-top" alt="QR code con información de contacto escaneable" src="img/frame4.png"/>
</div>
