<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="{{ .Scratch.Get "sectionId" }}">
  <div class="my-auto" id="projects-content">
    <h2 class="mb-5"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p>{{ .Content }}</p>
    {{ $featuredPages := where .Pages "Params.featured" true }}
    {{ range first 3 $featuredPages }}
      {{ partial (printf "%s%s" .Section "Summary") . }}
    {{ end }}
  </div>

  <div class="my-auto">
    <h3>¡Espera! Hay más...</h3>
    <p>Ver <a href="{{ .Permalink }}">todos los proyectos</a> para más ejemplos!</p>
  </div>

</section>
