{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    {{ .Content }}
    {{ with .Params.link }}<p>Project link: <a href="{{ . }}">{{ . }}</a></p>{{ end }}
    {{ partial "techtags" . }}
     {{ if $.Param "images" }}
       {{ range $.Param "images" }}
          <br />
          {{ if isset . "description" }}
            <p style="font-size: 24px; text-align: center; font-weight: normal;">{{ .description }}</p>
          {{ end }}
          {{ if isset . "name" }}
            <img src="{{ .name }}" style="display: block; margin-left: auto; margin-right: auto; width: 80%;" />
          {{ end }}
       {{ end }}
     {{ else }}
      {{ if $.Param "image" }}
         <img src={{ $.Param "image" }} style="display: block; margin-left: auto; margin-right: auto; width: 80%;" />
      {{ end }}
      {{ if $.Param "image2" }}
      <img src={{ $.Param "image2" }} style="display: block; margin-left: auto; margin-right: auto; width: 80%; margin-top: 15px" />
      {{ end }}
     {{ end }}
  </div>
</section>
{{ end }}
